{% extends 'base.html' %}
{% block content %}
<h2>Past Screening Results</h2>

<a href="{% url 'export_csv' %}" class="btn" style="margin: 20px 0; display: inline-block;">⬇ Export to CSV</a>


<table border="1" cellpadding="10">
    <tr>
        <th>Resume</th>
        <th>ATS Score</th>
        <th>Matched Skills</th>
        <th>Missing Skills</th>
        <th>Date</th>
    </tr>
    {% for result in matches %}
    <tr>
        <td>{{ result.resume.user.username }}</td>
        <td>{{ result.matched_score }}%</td>
        <td>{{ result.matched_skills }}</td>
        <td>{{ result.missing_skills }}</td>
        <td>{{ result.analyzed_at }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
