{% extends "base.html" %}

{% block content %}
<h2>Organization Dashboard</h2>

<!-- Upload Job Description Button -->
<a href="{% url 'upload_jd' %}" class="btn" style="display: inline-block; margin-bottom: 20px; background: #6c63ff; color: white; padding: 10px 15px; text-decoration: none; border-radius: 5px;">
    ➕ Upload New Job Description & Match
</a>

<a href="{% url 'match_history' %}" class="btn" style="background: #222; color: white; padding: 10px; text-decoration: none; margin-top: 10px; display: inline-block;">
    📊 View Past Job Matches
</a>


<table border="1" cellpadding="10">
    <tr>
        <th>User</th>
        <th>Uploaded Resume</th>
        <th>ATS Score</th>
        <th>Issues</th>
        <th>Uploaded At</th>
        <th>Download</th>
    </tr>
    {% for resume in resumes %}
    <tr>
        <td>{{ resume.user.username }}</td>
        <td>{{ resume.file.name }}</td>
        <td>{{ resume.score }}</td>
        <td>
            {% if resume.issues %}
                <ul>
                {% for issue in resume.issues|safe|json_script:"issues" %}
                    <li>{{ issue }}</li>
                {% endfor %}
                </ul>
            {% else %}
                None
            {% endif %}
        </td>
        <td>{{ resume.uploaded_at }}</td>
        <td><a href="{{ r.file.url }}" target="_blank">Preview</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
