{% extends "base.html" %}

{% block content %}
<h2>Your Resume Uploads</h2>

{% if resumes %}
    <table border="1" cellpadding="10">
        <tr>
            <th>Resume</th>
            <th>Score</th>
            <th>Issues</th>
            <th>Uploaded</th>
            <th>Download</th>
        </tr>
        {% for r in resumes %}
        <tr>
            <td>{{ r.file.name }}</td>
            <td>{{ r.score }}</td>
            <td>
                {% if r.issues %}
                    <ul>
                    {% for issue in r.issues|safe|json_script:"issues" %}
                        <li>{{ issue }}</li>
                    {% endfor %}
                    </ul>
                {% else %}
                    None
                {% endif %}
            </td>
            <td>{{ r.uploaded_at }}</td>
            <td><a href="{{ r.file.url }}" download>Download</a></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>You haven't uploaded any resumes yet.</p>
{% endif %}
{% endblock %}
